.nav > li > a {

	color: #f8f8f8;

}



.custom-nav {

	background-color: #03755B;

}



.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {

	background-color:#025B49;

}



.custom-nav > li.active {

	

	border-left: 4px solid #21B792;

    background-color:#025B49;

}



.nav > li.active {

	background-color:#025B49;

}

.navbar-fixed-top, .navbar-static-top {

	background: #fff;

}

.nav > li > a.heading-nav {

	color:#cce3de;

}

.navbar-default .nav > li > a.heading-nav:hover, .navbar-default .nav > li > a.heading-nav:focus {

	background:transparent;

	color:#cce3de;

}





.search-top{

  border:none;

  background-color: transparent;

}

.search-top:focus

 {

    outline: none;

}



.custom-fa-search{

  color: gray;

  font-size: 20px;

   margin: 0px 5px 0 10px;

}



.custom-input-group{

  border: 1px gray solid;

}



.dataTables-admin > thead {

	background-color:#c3f6eb;

	color:#000;

}







.dataTables-admin.dataTable thead th, 

.dataTables-admin.dataTable thead td,

.table > thead > tr > th, 

.table > tbody > tr > th, 

.table > tfoot > tr > th, 

.table > thead > tr > td, 

.table > tbody > tr > td, 

.table > tfoot > tr > td {

    padding: 15px ; 

}



.table-responsive table.dataTables-admin.dataTable{

	border-collapse:collapse!important;

}

.dataTables_paginate .pagination {

	float:right;

}



/*Custom ibox-content*/

.ibox-content-custom {

	padding: 10px;

	border-left: 5px solid #000;

}

.ibox-color-1{

border-left-color: #3c9ce5;

}

.ibox-color-2{

border-left-color: #e53cc9;

}

.ibox-color-3{

border-left-color: #3ce5c3;

}

.ibox-color-4{

border-left-color: #4de53c;

}

#kpi{
  height: 400px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}
.pieLegend li{ 
list-style: none;
 }
.pieLegend li span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 10px;
  position: relative;
}
.pieLegend li span:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: 3px;
}

.pieLegend {
  display: inline-block;
}